@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Jost", sans-serif;
}

.container {
    max-width: 1170px !important;
    margin: auto !important; 
    width: 90%;
}
.text-realBlue {
    color: #004AAD;
}
a.main-logo img {
    max-width: 138px;
}
@media all and (max-width: 767px) {
    a.main-logo img {
        max-width: 110px;
    }
}
.title-text {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
}
.social-login {
    border: 1px solid #dadce0;
    padding: 12px 24px;
    border-radius: 4px;
}
.login-form input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
p.pass-eyes {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #767676;
    cursor: pointer;
}
.my-image-profile img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.hero-slide .slide-content {
    position: relative;
    z-index: 9;
    color: #fff !important;
}
.hero-slide {
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-slide:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #161c2d;
    opacity: .9;
}
.hero-slide1 {
    background-image: url(https://i.ibb.co/YB5K1W2/pexels-binyamin-mellish-106399.jpg);
}
.hero-slide2 {
    background-image: url(https://i.ibb.co/0ZNpQDQ/pexels-pixabay-280222.jpg);
}
.hero-slide3 {
    background-image: url(https://i.ibb.co/8zL097H/pexels-max-vakhtbovycn-7031608.jpg);
}
.hexagon {
    color: transparent !important;
    fill: rgba(56, 189, 248, 0.05) !important;
    height: 102px;
    width: 102px;
    margin-left: auto;
    margin-right: auto;
}
.fea.icon-m-md {
    height: 28px;
    width: 28px;
}
.translate-middle {
    transform: translate(-50%, -50%) !important;
    left: 50%;
    top: 50%;
}
.contact-card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px;
    text-align: center;
}
.property-item {
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px;
}
@media all and (min-width: 1024px) {
    .property-item .property-image {
        height: 224px;
        overflow: hidden;
    }
    .property-item .property-image img {
        object-fit: cover;
        height: 100%;
    }
}
.cart-icon-box {
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-left: auto;
    background: #0080001f;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}